.betteruptime-announcement {
    --betteruptime-announcement-bg: #1f1f20;
    --betteruptime-announcement-color: #ffffff;
    --betteruptime-annoncement-font-family: "Simvoni", "Roboto", "San Francisco", "Segoe UI", "Ubuntu", "Helvetica Neue", sans-serif;
    --betteruptime-annoncement-font-size: 14px;
    --betteruptime-annoncement-line-height: 1.5;
    --betteruptime-announcement-padding-x: 16px;
    --betteruptime-announcement-padding-y: 14px;
    --betteruptime-announcement-max-width: 970px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999999;
    background: var(--betteruptime-announcement-bg, #1f1f20);
    color: var(--betteruptime-announcement-color, #ffffff);
    padding: var(--betteruptime-announcement-padding-y, 14px) var(--betteruptime-announcement-padding-x, 16px);
    font-family: var(--betteruptime-annoncement-font-family, "Simvoni", "Roboto", "San Francisco", "Segoe UI", "Ubuntu", "Helvetica Neue", sans-serif);
    font-size: var(--betteruptime-annoncement-font-size, 14px);
    line-height: var(--betteruptime-annoncement-line-height, 1.5);
}
.betteruptime-announcement,
.betteruptime-announcement * {
    box-sizing: border-box;
}
.betteruptime-announcement__placeholder {
    position: relative;
    width: 100%;
    z-index: -1;
}
.betteruptime-announcement__placeholder::after {
    display: block;
    clear: both;
    content: "";
}
.betteruptime-announcement--clickable {
    cursor: pointer;
}
.betteruptime-announcement__message {
    width: 100%;
    max-width: var(--betteruptime-announcement-max-width, 970px);
    margin: 0 auto;
    text-align: center;
    padding-left: 32px;
    padding-right: 32px;
}
.betteruptime-announcement__message p {
    margin: 0;
}
.betteruptime-announcement__message a {
    color: inherit;
}
.betteruptime-announcement__close {
    position: absolute;
    top: 0;
    right: 0;
    padding: var(--betteruptime-announcement-padding-y, 14px) var(--betteruptime-announcement-padding-x, 16px);
    z-index: 10;
    text-decoration: none;
    display: block;
}
.betteruptime-announcement__close svg {
    width: 20px;
    height: 20px;
    fill: var(--betteruptime-announcement-color, #ffffff);
}
