@font-face {
    font-family: Rubik Variable;
    src: url(fonts/Rubik/Rubik-VariableFont_wght.ttf);
}

@font-face {
    font-family: Rubik Variable Italic;
    src: url(fonts/Rubik/Rubik-Italic-VariableFont_wght.ttf);
}